/* .experience-container {
  display: flex;
  flex-direction: column;
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  margin: 0;
}

.job p {
  margin: 0;
}

.date {
  font-style: italic;
  color: #888;
  margin-bottom: 10px;
}

.responsibilities {
  margin: 0;
  padding-left: 20px;
} */
